@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76388670');
  src: url('../font/fontello.eot?76388670#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76388670') format('woff2'),
       url('../font/fontello.woff?76388670') format('woff'),
       url('../font/fontello.ttf?76388670') format('truetype'),
       url('../font/fontello.svg?76388670#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76388670#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */



body {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    background: #070707;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

input:required {
    box-shadow:none;
}

input[type="text"] {
    padding-left: 15px;
    display: block;
    box-sizing: border-box;
    height: 43px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 43px;
    color: black;
    border: 2px solid black;
}

input[type="text"]:focus {
    outline: none;
    border-color: #663d15;
}

input::-webkit-input-placeholder {
    color: black;
    text-transform: uppercase;
}

input::-moz-placeholder {
    text-transform: uppercase;
    color: black;
    opacity: 1;
}

input[type="submit"] {
    padding: 0;
    margin: 0;
    height: 43px;
    background: black;
    color: white;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    border: none;
}

input[type="submit"]:hover {
    background: #663d15;
    cursor: pointer;
}

.authorization-popup {
    position: fixed;
    width: 600px;
    height: 600px;
    left: 50%;
    margin-left: -300px;
    display: block;
    z-index: 1000;
    bottom: -50px;
}

.authorization-block {
    background: white;
    overflow: hidden;
}

.authorization-block-form {
    display: block;
    margin: 50px auto;
    width: 300px;
}

.authorization-block-form h3 {
    margin: 0;
    margin-bottom: 22px;
    color: black;
    font-size: 28px;
    line-height: 42px;
}

.authorization-block-form p {
    margin: 0;
    margin-bottom: 20px;
    color: black;
    font-size: 14px;
    line-height: 24px;
}

.authorization-block-form input[type="text"] {
    width: 100%;
    display: block;
    
    padding-right: 40px;
}

.authorization-block-form div {
    position: relative;
}

.authorization-block-form div:first-of-type {
    margin-bottom: 9px;
}

.authorization-block-form div:nth-of-type(2) {
    margin-bottom: 15px;
}

.authorization-block-form div:first-of-type::after,
.authorization-block-form div:nth-of-type(2)::after {
    margin-left: 13px;
    position: absolute;
    right: 13px;
    top: 13px;
    font-family: 'fontello';
    font-size: 19px;
}

.authorization-block-form div:first-of-type::after {
    content: '\e800';
}

.authorization-block-form div:nth-of-type(2)::after {
    content: '\e801';
    right: 14px;
}

.authorization-block-form label {
    color: black;
    font-size: 14px;
    line-height: 20px;
}

.authorization-block-form label:hover {
    cursor: pointer;
}

.authorization-block-form a {
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    float: right;
}

.authorization-block-form a:hover {
    text-decoration: underline;
}

.authorization-block-buttons {
    margin-bottom: 17px;
}

.authorization-block-buttons label, .authorization-block-buttons input[type="checkbox"] {
    float: left;
}

.authorization-block-buttons input[type="checkbox"] {
    display: none;
}

.authorization-block-buttons label::before {
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid black;      
}

input[type="checkbox"]:checked + label:before {
    background: url("../img/sprites-min.png") -2px -2px;  
}

.authorization-block-form input[type="submit"] {
    width: 100%;
}

.authorization-block>div {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: url("../img/sprites-min.png") 5px 5px no-repeat;
    opacity: .7;
}

.authorization-block>div:hover {
    cursor: pointer;
    opacity: 1;
}

.breadcrumbs {
    margin-bottom: 56px;
}

.breadcrumbs a {
    position: relative;
    margin-right: 40px;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: #242424;
}

.breadcrumbs a:after {
    pointer-events: none;
    cursor: default;
    position: absolute;
    right: -24px;
    top: 50%;
    margin-top: -3px;
    display: block;
    width: 7px;
    height: 7px;
    background: black;
    content: "";
    transform: rotate(45deg);
}

.breadcrumbs a:last-of-type:after {
    display: none;
}


/*header*/
header {
    background: black;
    margin-bottom: 58px;
    display: block;
}

.main-menu {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background: black;
}

.main-menu a {
    display: block;
    padding: 24px 22px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.main-menu a:hover,
.main-menu a:active {
    background: #242424;
}

.main-menu-sections {
    margin: 0;
    padding: 0;
    width: 780px;
    list-style: none;    
    float: left;
}

.main-menu-sections li {
    display: inline-block;
    vertical-align: top;
}

.main-menu-sections a {
    position: relative;
}

.main-menu-sections .active:after {
    position: absolute;
    display: block;
    bottom: 0;
    content: "";
    height: 4px;
    left: 20px;
    right: 20px;
    background: white;
}

.main-menu-login {
    float: right;
    max-width: 140px;
}

.main-menu-login a:before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../img/sprites-min.png) 0 -210px no-repeat;
    opacity: 0.3;
}

.main-menu-login a:hover::before {
    opacity: 1;
}

.main-menu-login .active {
    background: #242424;
}

.main-menu-login .active::before {
    opacity: 1;
}


/*footer*/
footer {
    background: #232323 url("../img/patern-1-min.png");    
}

.contact-info {
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    width: 940px;
    height: 190px;    
}

.contact-info > div {
    margin-top: 58px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.contact-info > div:last-child {
    margin-right: 0;
}

.contact-info h4 {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: white;
    font-weight: bold;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.contact-info-socnet {
    text-align: center;
}

.contact-info-socnet a {
    margin-right: 6px;
    display: inline-block;
    vertical-align: center;
    width: 43px;
    height: 43px;
    background: black;
}

.contact-info-socnet a:last-child {
    margin-right: 0;
}

.contact-info-socnet a:nth-child(1) {
    background: black url("../img/sprites-min.png") 9px -825px no-repeat;
}

.contact-info-socnet a:nth-child(2) {
    background: black url("../img/sprites-min.png") 15px -550px no-repeat;
}

.contact-info-socnet a:nth-child(3) {
    background: black url("../img/sprites-min.png") 12px -690px no-repeat;
}

.contact-info-socnet a:hover:nth-child(1) {
    background: white url("../img/sprites-min.png") 9px -759px no-repeat;
}

.contact-info-socnet a:hover:nth-child(2) {
    background: white url("../img/sprites-min.png") 15px -478px no-repeat;
}

.contact-info-socnet a:hover:nth-child(3) {
    background: white url("../img/sprites-min.png") 12px -618px no-repeat;
}

.contact-info-creater {
    float: right;
}

.contact-info-creater a {
    margin: 0;
    display: block;
    height: 43px;
    width: 140px;
    background: black;
    font-size: 14px;
    line-height: 43px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.contact-info-creater a:hover {
    background: white;
    color: black;
}



/*index.html*/
.index-background {
    
    display: block;
    background: url("../img/background-min.png") top center no-repeat;
}

.main-content {
    margin: 0 auto;
    margin-top: 58px;
    padding: 0 10px;
    display: block;
    width: 940px;
}

.main-content > img {
    margin: 0 auto;
    display: block;
    width: 368px;
    height: 204px;
}

.main-content-features {
    margin-bottom: 80px;
}

.main-content-features div {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.main-content-features div:last-child {
    margin-right: 0;
}

.main-content-features h5 {
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 45px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    color: white;
}

.main-content-features h5:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.main-content-features p {
    margin: 0;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.main-content-info {
    position: relative;
    height: 430px;
    background: #f8f5f2 url("../img/patern-2-min.png");
    margin-bottom: 35px;
}

.main-content-info:last-child {
    margin-bottom: 65px;
}

.main-content-info > img {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -4px;
}

.main-content-info h3 {
    margin: 0;
    margin-bottom: 30px;
    color: black;
    font-size: 28px;
    line-height: 42px;
}

.main-content-info p {
    margin: 0;
    color: black;
    font-size: 14px;
    line-height: 24px;
}

.main-content-info-lcolumn,
.main-content-info-rcolumn {
    margin-top: 48px;
    margin-left: 80px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.main-content-info-rcolumn {
    margin-left: 180px;
}

.main-content-info-lcolumn div {
    margin-bottom: 28px;
}

.main-content-info-lcolumn a {
    margin-right: 20px;
    height: 43px;
    line-height: 43px;
    width: 140px;
    text-align: center;
    display: inline-block;
    background: black;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.main-content-info-lcolumn a:last-child {
    margin-right: 0;
}

.main-content-info-lcolumn a:hover {
    background: #663d15;
}

.main-content-info-lcolumn time {
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    text-transform: lowercase;
}

.main-content-info-rcolumn p {
    margin-bottom: 18px;
}

.main-content-info-rcolumn-gallery {
    height: 266px;
    overflow-y: auto;
}

.main-content-info-rcolumn-gallery a {
    display: inline-block;
    margin: 0;
    margin-right: 4%;
    margin-top: 4%;
    padding: 0;
    width: 48%;
}

.main-content-info-rcolumn-gallery a:hover {
    opacity: .8;
}

.main-content-info-rcolumn-gallery a:nth-child(even) {
    margin-right: 0;
}

.main-content-info-rcolumn-gallery a:nth-child(1), .main-content-info-rcolumn-gallery a:nth-child(2) {
    margin-top: 0;
}

.main-content-info-rcolumn-book div {
    margin-bottom: 28px;
}

.main-content-info-rcolumn-book input[type="text"] {
    display: inline-block;
    width: 140px;
    margin-right: 20px;
    margin-top: 20px;
}

.main-content-info-rcolumn-book input[type="text"]:nth-child(even) {
    margin-right: 0;
}

.main-content-info-rcolumn-book input[type="text"]:nth-child(1),
.main-content-info-rcolumn-book input[type="text"]:nth-child(2) {
    margin-top: 0;
}

.main-content-info-rcolumn-book input[type="submit"] {
    width: 100%;
}



/*authorization.html*/
.authorization {
    width: 940px;
    padding: 0 10px;
    margin: 58px auto;
    display: block;
}


/*price.html*/
.price-background, .shop-background {
    background: url("../img/patern-2-min.png") white;
    width: 100%;
    display: block;
}

.price, .shop, .item {
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    width: 940px;
}

.price h2, .shop h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.price .title {
    margin-bottom: 72px;
    text-align: center;
    position: relative;
}

.price .title:before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    top: 20px;
}

.price h3 {
    margin: 0;
    padding: 0 26px;
    display: inline-block;
    background: url("../img/patern-2-min.png") white;;
    position: relative;
    font-size: 48px;
    line-height: 42px;
}

.price-container {
    margin-bottom: 80px;
}

.price-container div{
    display: inline-block;
    vertical-align: top;
    width: 460px;
}

.price-container div:first-of-type {
    margin-right: 20px;
}

.price-container h4, .shop-container h4 {
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
}

.price-container ul {
    padding: 0;
    list-style: none;
}

.price-container li {
    padding-left: 20px;
    margin-bottom: 15px;
    position: relative;
    font-size: 14px;
    line-height: 24px;
}

.price-container li:last-of-type {
    margin-bottom: 0;
}

.price-container li:before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    transform: rotate(45deg);
    left: 0;
    top: 50%;
    margin-top: -4px;
}

.price-container table {
    border-collapse: collapse;
}

.price-container td {
    padding: 9px 17px;
    border: 2px solid black;
    font-size: 14px;
    line-height: 24px;
    width: 230px;
}

.price-container td:last-of-type {
    text-align: center;
}

.price-container p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

.price-container:last-child .price-container-rcolumn, .price-container:last-child .price-container-lcolumn {
    box-sizing: border-box;
    padding-right: 70px;
}

.price-container:last-child .price-container-rcolumn {
    padding-top: 62px;
}

.shop-container > div {
    display: inline-block;
    vertical-align: top;
/*    outline: 1px solid green;*/
}

.shop-container-lcolumn {
    width: 220px;
    margin-right: 20px;
}

.shop-container-lcolumn > div {
    box-sizing: border-box;
    padding-right: 25px;
}

.producers {
    margin-bottom: 42px;
}

.shop-container-lcolumn ul {
    list-style: none;
    padding: 0;
}

.shop-container-lcolumn li {
    margin: 0;
    margin-bottom: 17px;
}

.shop-container-lcolumn li:last-of-type {
    margin-bottom: 0;
}

.producers input[type="checkbox"], .typeofprod input[type="radio"] {
    margin: 0;
    display: none;
    vertical-align: middle;
}

.shop-container-lcolumn label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-left: 43px;
}

.shop-container-lcolumn label:hover {
    cursor: pointer;
}

.producers label::before {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid black;
    left: 0;
}

.producers input:checked + .producers label:before {
    background: url("../img/sprites-min.png") -2px -2px;  
}

.typeofprod label:before {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 16px;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.typeofprod input:checked+label:before {
    background: url("../img/sprites-min.png") -2px -347px;
}

.shop-container-rcolumn {
    width: 700px;
    margin-bottom: 22px;
}

.shop-container-rcolumn > div {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 286px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
/*    outline: 1px solid red;*/
}

.shop-container-rcolumn > div:nth-child(3n) {
    margin-right: 0;
}

.shop-container-rcolumn img {
    width: 220px;
    height: 165px;
    margin-bottom: 12px;
}

.shopitem {
    position: relative;
}

.shopitem > a:hover {
    opacity: .5;
}



.shopitem > span {
    width: 100%;
    position: absolute;
    top: 70px;
    display: none;
    text-align: center;
    color: black;
    font-size: 24px;
}

.prodtype, .prodbrand {
    margin: 0;
    font-size: 14px;
/*    line-height: 24px;*/
}

.shop-container-rcolumn .prodtype {
    text-transform: none;
}

.shopitem-title {
    box-sizing: border-box;
    padding: 0 16px;
    margin-bottom: 12px;
}

.shopitem-price div, .shopitem-price a {
    vertical-align: middle;
    display: inline-block;    
}

.shopitem-price {
    box-sizing: border-box;
    padding: 0 16px;
    
}

.shopitem-price div {
    height: 43px;
    width: 110px;
    background: #e5e5e5;
}

.shopitem-price a {
    font-size: 14px;
    line-height: 43px;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 78px;
    background: #000000;
}

.shopitem-price a:hover {
    background: #663d15;
}

.shopitem-price div {
    font-size: 14px;
    line-height: 43px;
    color: black;
    text-align: center;
}

.shop-container-pgs {
    margin-left: 240px;
    margin-bottom: 47px;
}

.shop-container-pgs button {
    outline: none;
    border: none;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    width: 43px;
    height: 43px;
    background: black;
    font-size: 14px;
    line-height: 43px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.shop-container-pgs button:hover {
    cursor: pointer;
}

.shop-container-pgs button:active {
    font-size: 12px;
}

.shop-container-pgs .presentpg {
    background: white;
    color: black;
}



/*item.html*/

.item-lcolumn, .item-rcolumn {
    display: inline-block;
    vertical-align: top;
}

.item-lcolumn {
    margin-right: 90px;
    margin-bottom: 84px;
    width: 460px;
/*    outline: 1px solid red;*/
}

.item-lcolum-mainimg {
    margin-bottom: 21px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.item-lcolum-addimg {
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.item-lcolumn-add a {
    margin-right: 20px;
}

.item-lcolumn-add a:last-child {
    margin-right: 0;
}

.item-rcolumn {
    width: 390px;
/*    outline: 1px solid red;*/
}

.item .prodtype {
    font-size: 30px;
    line-height: 42px;
}

.item .prodbrand {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 32px;
}

.item-rcolumn {
    font-size: 14px;
/*    line-height: 24px;*/
}
.item-rcolumn-buy {
    font-size: 0;
    margin-bottom: 32px;
}
    
.item-rcolumn-buy div, .item-rcolumn-buy a {
    display: inline-block;
    vertical-align: top;
    height: 43px;
    font-size: 14px;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
}

.item-rcolumn-buy div {
    width: 110px;
    background: #e5e5e5;
}

.item-rcolumn-buy a {
    width: 78px;
    background: #000;
    color: #fff;
}

.item-rcolumn-buy a:hover {
    background: #663d15;
}

.vendinfo {
    margin-bottom: 28px;
}

.vendinfo .availib {
    float: left;
}

.vendinfo .vendcode {
    float: right;
    color: #aeaeae;
}

.item-rcolumn p {
    margin: 0;
    margin-bottom: 55px;
}

.item-rcolumn h3 {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 42px;
}

.item-rcolumn ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-rcolumn li {
    position: relative;
    margin-bottom: 4px;
    padding-left: 21px;
}

.item-rcolumn li:last-of-type {
    margin-bottom: 0;
}

.item-rcolumn li:before {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 50%;
    margin-top: -5px;
    background: black;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}